# Python
__pycache__/
lextab.py
parser.out
parsetab.py

# C++ executable
*.o
*.out
backend
test
tmp

# C++ generated C files
lex.yy.c
y.tab.c

# C++ debug core dump files
vgcore.*

# Temporary files
tmp.cpp

